$dusty-shale: rgb(145, 175, 174)

html, body
  font-family: 'Lato', sans-serif
  margin: 0
  padding: 0
  height: 100%

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 50px
  margin: 0
  z-index: 100
  background-color: #FFFFFF
  filter: alpha(opacity=40)
  opacity: 0.4
  ul.nav
    display: block
    padding: 15px 0 0 0
    margin: 0
    text-align: center
    width: 100%
    list-style: none outside none
    li
      width: 16%
      float: left
      text-decoration: none
      font-size: 16px
      cursor: pointer
      &:hover
        color: #bebebe
        font-weight: 400
        text-shadow: #000 0 0 0

$footer-height: 59px
.footer
  z-index: 100
  position: fixed
  bottom: 0
  width: 100%
  height: $footer-height
  margin: 0
  img
    display: block
    margin: 0 auto
    // 31px, height of down-lt.png
    margin-top: ($footer-height - 31px) / 2
  img.light
    opacity: 0.5
    filter: alpha(opacity=50)

.next
  z-index: 100
  position: fixed
  bottom: 0
  width: 100%
  height: $footer-height
  margin: 0
  background-color: #FFFFFF
  cursor: pointer
  opacity: 0
  filter: alpha(opacity=0)
  -webkit-transition: opacity 0.5s
  -moz-transition:    opacity 0.5s
  -ms-transition:     opacity 0.5s
  -o-transition:      opacity 0.5s
  &:hover
    opacity: 0.4
    filter: alpha(opacity=4)

.slide
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
  height: 100%
  margin: 0
  padding: 0
  text-align: center
  font-size: 0px

.content-box
  font-size: 60px
  display: inline-block
  vertical-align: middle

.home
  background-color: $dusty-shale
  .logo
    max-height: 100%
