$font-size: 60px

html, body
  font-family: 'Open Sans', sans-serif
  font-size: 60px
  margin: 0
  padding: 0
  height: 100%

.slide
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
  height: 100%
  margin: 0
  padding: 0
  text-align: center
  font-size: 0px

.content-box
  font-size: $font-size:
  display: inline-block
  vertical-align: middle
