html, body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%; }
  html .none, body .none {
    display: none; }
  html .lato-bold, body .lato-bold {
    font-weight: 700; }
  html .lato-regular, body .lato-regular {
    font-weight: 400; }
  html .lato-light, body .lato-light {
    font-weight: 300; }

p {
  margin: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  height: 0;
  color: #c8c8cc;
  background-color: #c8c8cc; }
  hr.size-1 {
    height: 1px; }
  hr.size-3 {
    height: 3px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 100;
  background-color: #FFFFFF;
  filter: alpha(opacity=40);
  opacity: 0.4; }
  .header ul.nav {
    display: block;
    padding: 15px 0 0 0;
    margin: 0;
    text-align: center;
    width: 100%;
    list-style: none outside none; }
    .header ul.nav li {
      width: 16%;
      float: left;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer; }
      .header ul.nav li:hover {
        color: #bebebe; }

.footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  margin: 0; }
  .footer img {
    display: block;
    margin: 0 auto;
    margin-top: 14px; }
  .footer img.light {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.next {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  margin: 0;
  background-color: white;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s; }
  .next:hover {
    opacity: 0.4;
    filter: alpha(opacity=4); }

.slide {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0px; }
  .slide:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .slide .content-box {
    display: inline-block;
    vertical-align: middle; }

.home {
  background-color: #91afae; }
  .home .logo img {
    max-width: 100%;
    max-height: 68%; }
  .home .date img {
    max-width: 60%;
    max-height: 27.5%; }

.event-info {
  background-color: #aeaeb5; }
  .event-info .content-box {
    width: 1000px;
    max-width: 100%;
    color: #f9f6f2; }
    .event-info .content-box .map {
      float: left;
      width: 48%; }
      .event-info .content-box .map img {
        max-width: 100%; }
    .event-info .content-box .details {
      float: right;
      width: 48%;
      text-align: left; }
      .event-info .content-box .details .title {
        font-size: 60px;
        padding-bottom: 10px; }
      .event-info .content-box .details .place, .event-info .content-box .details .time {
        font-size: 20px;
        padding-bottom: 5px; }
        .event-info .content-box .details .place .lato-light, .event-info .content-box .details .time .lato-light {
          font-size: 16px;
          color: #e5e2df; }
    .event-info .content-box .sq-button {
      font-size: 16px;
      width: 49%;
      text-align: center;
      color: black;
      filter: alpha(opacity=40);
      opacity: 0.4;
      text-decoration: none;
      cursor: pointer;
      background-color: white;
      padding: 16px 0; }
      .event-info .content-box .sq-button:hover {
        color: #bebebe; }
      .event-info .content-box .sq-button.maps-button {
        float: right; }
      .event-info .content-box .sq-button.info-button {
        float: left; }

.modal-background {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  filter: alpha(opacity=40);
  opacity: 0.4; }

.modal {
  z-index: 1000;
  width: 720px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
  background-color: #f9f6f2;
  padding: 12px; }
  .modal .modal-close-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 22px; }
  .modal .content-box {
    padding: 40px;
    border: 1px #cfcfd3 solid; }
    .modal .content-box hr {
      margin: 20px 0px; }
    .modal .content-box a {
      text-decoration: none;
      font-weight: 400;
      color: #c8c8cc; }
    .modal .content-box strong {
      font-weight: 400; }

/*# sourceMappingURL=style.css.map */
