!!!
%html
  %head
    %title Gabe & Luz
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    %link{href:'img/favicon.png', rel:'shortcut icon', type:'image/x-icon'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .slide.home
      .content-box
        .logo
          %img{src: 'img/home-logo-pad.svg'}
        .date
          %img{src: 'img/date-banner.svg'}
