!!!
%html
  %head
    %title Gabe & Luz
    %link{href: 'http://fonts.googleapis.com/css?family=Lato', rel:'stylesheet', type:'text/css'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .slide.home
      .content-box
        .logo
          %img{src: 'img/home-logo-pad.svg'}
        .date
          %img{src: 'img/date-banner.svg'}
