!!!
%html
  %head
    %title Gabe & Luz
    %link{href:'http://fonts.googleapis.com/css?family=Lato:300,400,700', rel:'stylesheet', type:'text/css'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .header
      %ul.nav
        %li.home-nav HOME
        %li.event-nav EVENT INFO
        %li.day-nav DAY OF
        %li.rsvp-nav RSVP
        %li.story-nav OUR STORY
        %li.party-nav WEDDING PARTY
    .footer
      %img.light{src: 'img/down-lt.png'}
      .next
        %img.dark{src: 'img/down-dk.png'}

    .slide.home
      .content-box
        .logo
          %img{src: 'img/home-logo-pad.svg'}
        .date
          %img{src: 'img/date-banner.svg'}

    .modal-background.event-info-modal.none
    .modal.event-info-modal.none
      %a.modal-close-button{href: 'javascript:'}
        %img{src: 'img/modal-close.svg'}
      .content-box.lato-light
        Cupcake ipsum dolor sit amet.
        %strong Dessert fruitcake jelly I love jelly-o.
        Gummi bears icing marzipan chupa chups fruitcake halvah chupa chups. Souffle I love candy. Danish
        chocolate bar sesame snaps souffle. Gummi bears I love I love croissant souffle pastry wafer bear
        claw. Cheesecake sweet dragee.
        %hr.size-1
        Dessert sugar plum cake jujubes icing. Sugar plum cake brownie. I love macaroon toffee I love.
        Jujubes I love I love halvah. Pie tiramisu biscuit jujubes. Caramels I love dragee sweet roll sugar
        plum.
        %br
        %br
        Dragee toffee sweet sweet. Cotton candy biscuit chocolate pudding pastry tart. I love lollipop
        sweet caramels marshmallow.
        %ul
          %li
            %a{href: 'javascript:'} Jujubes Inn &amp; Suites Monroe
          %li
            %a{href: 'javascript:'} Cupcake Lodge Woodinville
        %hr.size-1
        Caramels dessert danish liquorice biscuit dragee jelly beans jelly-o. Jelly cotton candy gingerbread
        apple pie.
        %strong Cotton candy cotton candy sesame snaps cotton candy jujubes.
        Oat cake applicake tiramisu liquorice caramels cotton candy icing lemon drops. Candy jelly sesame
        snaps muffin. Fruitcake candy canes unerdwear.com brownie halvah. Lollipop toffee jujubes jelly
        beans unerdwear.com lollipop topping cookie pastry. Tart chocolate bar powder. Sesame snaps dragee
        icing carrot cake muffin cookie gummi bears.

    .slide.event-info
      .content-box
        .map
          %img{src: 'img/map.png'}
        .details
          .title.lato-bold EVENT INFO
          .place
            PLACE: Camp Hoffman
            .lato-light
              2850 Ministerial Rd
              %br
              South Kingston, RI 02879
          %hr.size-3{style: 'margin: 16px 0 5px 0;'}
          %hr.size-1{style: 'margin-bottom: 16px;'}
          .time
            TIME: 5PM Ceremony
            .lato-light
              Dinner & Dancing to Follow
          %hr.size-1{style: 'margin: 16px 0 5px 0;'}
          %hr.size-3{style: 'margin-bottom: 28px;'}
          .buttons
            %a.sq-button.maps-button{href:'https://goo.gl/maps/kZmde', target:'_blank'} GOOGLE MAPS
            %a.sq-button.info-button.js-open-event-info-modal{href:'javascript:'} MORE EVENT INFO

    %script{src:"http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{src:"js/gabeandluz.js"}
