!!!
%html
  %head
    %title Gabe & Luz
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .slide{style: 'background-color:rgb(155,155,230);'}
      .content-box One
    .slide{style: 'background-color:rgb(155,230,155);'}
      .content-box Two
    .slide{style: 'background-color:rgb(230,155,155);'}
      .content-box Three
