!!!
%html
  %head
    %title Gabe & Luz
    %link{href: 'http://fonts.googleapis.com/css?family=Lato', rel:'stylesheet', type:'text/css'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .header
      %ul.nav
        %li.home-nav HOME
        %li.event-nav EVENT INFO
        %li.day-nav DAY OF
        %li.rsvp-nav RSVP
        %li.story-nav OUR STORY
        %li.party-nav WEDDING PARTY
    .slide.home{style: 'background-color:rgb(145,175,174);'}
      .content-box GABE X LUZ
    .slide{style: 'background-color:rgb(175,174,145);'}
      .content-box Two
    .slide{style: 'background-color:rgb(174,145,175);'}
      .content-box Three
