!!!
%html
  %head
    %title Gabe & Luz
    %link{href:'http://fonts.googleapis.com/css?family=Lato:300,400,700', rel:'stylesheet', type:'text/css'}
    %link{href:'style.css', rel:'stylesheet', type:'text/css'}

  %body
    .header
      %ul.nav
        %li.home-nav HOME
        %li.event-nav EVENT INFO
        %li.day-nav DAY OF
        %li.rsvp-nav RSVP
        %li.story-nav OUR STORY
        %li.party-nav WEDDING PARTY
    .footer
      %img.light{src: 'img/down-lt.png'}
      .next
        %img.dark{src: 'img/down-dk.png'}

    .slide.home
      .content-box
        .logo
          %img{src: 'img/home-logo-pad.svg'}
        .date
          %img{src: 'img/date-banner.svg'}

    .slide.event-info
      .content-box
        .map
          %img{src: 'img/map.png'}
        .details
          .title.lato-bold EVENT INFO
          .place
            PLACE: Camp Hoffman
            .lato-light
              2850 Ministerial Rd<br>
              South Kingston, RI 02879
          .time
            TIME: 5PM Ceremony
            .lato-light
              Dinner & Dancing to Follow
          .buttons
            .sq-button.maps-button GOOGLE MAPS
            .sq-button.info-button MORE EVENT INFO
